<div class="container">
  <h1 class="title">Instogram</h1>

    <nav class="menu">
      <!-- 画像挿入 -->
      <%= image_tag 'Blog_top.png' %>
      <ul>
        <li>instoblogの世界へようこそ！</li>
      </ul>
    </nav>

<article>
  <div class="contents">
    <ul>
      <li>思い出を共有して、世界とつながろう！</li>
    </ul>
  </div>
  <div class="topic">
    <ul>
      <li></li>
    </ul>
  </div>
</article>

<%= link_to "instoblogを作成する", new_blog_path, class: 'btn btn-default' %>
</div>
